<%= form_with(model: [current_organization, space], class: "contents") do |form| %>
  <% if space.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(space.errors.count, "error") %> prohibited this space from being saved:</h2>
      <ul class="list-disc ml-6">
        <% space.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": space.errors[:name].none?, "border-red-400 focus:outline-red-600": space.errors[:name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 4, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": space.errors[:description].none?, "border-red-400 focus:outline-red-600": space.errors[:description].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :rule_set_ids, "Rules sets" %>
    <%= form.collection_select :rule_set_ids,
        current_organization.rule_sets.where(rule_type: RuleSet::RULE_TYPES[1]),
        :id, :name,
        { prompt: "Select rule sets", include_hidden: false },
        { multiple: true, class: "block w-full border rounded-md px-3 py-2 shadow-sm" } %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
